<mat-spinner *ngIf="loading"></mat-spinner>
<ng-container *ngIf="sauces$ | async as sauces">
  <p *ngIf="!loading && sauces.length <= 0">
    No sauces to display!
  </p>
  <p class="list-title" *ngIf="!loading && sauces.length > 0">THE SAUCES</p>
  <div class="sauce-list" *ngIf="!loading && sauces.length  > 0">
    <div (click)="onViewSingleSauce(sauce.id)" class="sauce-list-item" *ngFor="let sauce of sauces">
      <img alt="Hot sauce bottle" [src]="sauce.imageUrl">
      <h4>{{ sauce.name | uppercase }}</h4>
      <p>Heat: {{ sauce.heat }}/10</p>
    </div>
  </div>
</ng-container>
